form(role='form')
    table#code-detail-list(class='table form-table table-bordered')
        thead(class='thead-color')
            tr
                th 공통코드 상세인덱스
                th 공통코드 아이디
                th 공통코드 이름
                th 공통상세번호
                th 공통상세이름
        tbody
            