form(role='form')    
    table(class='table form-table')
        tbody 
            tr
                td
                    div(class='form-inline')
                        span(class='col-form-label') 목록 [총회원수 12,000명] 검색결과 1,000명
                td
                    div(class='form-inline')
                        div(class="form-check form-check-inline")
                            input(type='checkbox', class='form-check-input')
                            label(class='form-check-label') 펼쳐보기
                        div(class='form-group input-group mr-2')
                            select(class='form-control')
                                option 30개씩 
                        div(class='form-group input-group mr-2')
                            select(class='form-control')
                                option SMS발송 
                        div(class='button-group')
                            button(type='button')
                                i(class="bi bi-file-earmark-excel-fill") 엑셀다운로드
            tr
                table(class='table table-bordered', id='dataTable1')   
                    thead(class='thead-color')
                        tr
                    //-         th
                    //-             div(class="form-check d-inline")
                    //-                 input(type='checkbox', class='form-check-input')
                    //-         th 회원코드
                    //-         th 회원상태
                    //-         th 이름
                    //-         th 아이디
                    //-         th 이메일
                    //-         th 핸드폰번호
                    //-         th 주소
                    //-         th 개인통관부호
                    //-         th 생년월일
                    //-         th 나이
                    //-         th 성별
                    //-         th 충전포인트
                    //-         th 일반적립포인트
                    //-         th 특별적립포인트
                    //-         th 총 주문건수
                    //-         th 총 주문금액
                    //-         th 총 실주문건수
                    //-         th 총 실결제금액
                    //-         th 가입일
                    //-         th 최근접속일
                    //-         th 접속횟수
                    //-         th 휴면해제일
                    //-         th 애프터케어 수신동의
                    //-         th 이메일 수신동의
                    //-         th 특별관리대상
                    //- tbody
                        //- tr
                        //-     td
                        //-         div(class="form-check d-inline")
                        //-             input(type='checkbox', class='form-check-input')
                        //-     td
                        //-         a(style="cursor:pointer;", data-target='#settingUserModal', href="#settingUserModal", data-toggle="modal") 32525
                        //-     td 활동
                        //-     td 김주영
                        //-     td onnuri
                        //-     td onnuri@gmail.com
                        //-     td 01023949843
                        //-     td 서울시 마포구
                        //-     td P43625787
                        //-     td 1990.02.22
                        //-     td 30
                        //-     td 남
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        //-     td
                        